.navbar{
    min-height: 100px;
}
.nav-item{
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.4s;
}
.nav-item:hover{
    border-color: #009AD8;
    transition: all 0.4s;
}
.nav-link{
    transition: all 0.4s;
    color: #fff;
}
.nav-item:hover .nav-link{
    color: #009AD8;
    transition: all 0.4s;
}
.nav-item.active-m{
    border: 2px solid #009AD8;
}
.weather{
    font-size: 20px;
}
.route{
    font-size: 12px;
}
.home-bg{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position:top;
    height: 75vh;
}
.search{
    padding-block: .625rem;
}
.input-group{
    padding-block: .3125rem;
}
.input-group>.form-control:focus{
    z-index: 0;
}
.top-part,.last-top-part{
    background-color: #2d303d;
}
.inner,.last{
    background-color: #323544;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    overflow: hidden;
    height: 100%;
}
.main-part span{
    font-size: 78px;
    font-weight: bold;
}
.main-part ul li,.main-part ul li i {
    color: #8E8F94;
}
.center{
    height: 100%;
    background-color: #262936;
}
.center-top-part{
    background-color: #222530;
}
.center-main-part span:nth-child(2),.last-main-part span:nth-child(2){
    font-size: 58px;
    font-weight: bold;
}
.center-main-part span:nth-child(3),.last-main-part span:nth-child(3){
    font-size: 24px;
    color: #8E8F94;
}

.last{
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer{
    background-color: #262936;
    height: fit-content;
}
footer ul li a {
    width: 35px;
    height: 35px;
    background-color: #000;
    transition: all 0.4s;
}
.subscribe{
    right: 0;
    border-radius: none;
}
footer ul li a i{
    vertical-align: middle;
}
.footer-list li a:hover {
    color: #fff;
    background-color: #009AD8;
    transition: all 0.4s;
}
.copy{
    margin-top: 20px;
    font-size: 14px;
    color:#8E8F94;
    margin-bottom: 0;
}
.min-vh-75{
    min-height: 75vh;
}

@media screen and (max-width:992px) and (min-width:768px) {
    .row #currentTemp,.row #nextDayGreatTemp,.row #dayAfterNextTemp{
        font-size: 35px;
    }
    
}
@media screen and (max-width:700px) and (min-width:400px) {
    .row #currentTemp,.row #nextDayGreatTemp,.row #dayAfterNextTemp{
        font-size: 30px;
    }
    .footer-input input::placeholder{
        font-size: 12px;
    }
    .footer-input input{
        width: 80%;
    }
    .footer-input button{
        width: fit-content;
        font-size:14px;
    }
}
